.checkbox-classic {
  opacity: 0;

  display: none;
}

.checkbox-classic + label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.checkbox-classic + label::before {
  content: "";
  min-width: 16px;
  min-height: 16px;
  background-color: var(--White);
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid var(--Medium-grey);
}

.wrapper.dark .checkbox-classic + label::before {
  background-color: var(--Dark-grey);
  border: 1px solid var(--Lines-dark);
}

.checkbox-classic:checked + label::before {
  background-color: var(--Main-purple);
  border: none;
}

.wrapper.dark .checkbox-classic:checked + label::before {
  background-color: var(--Main-purple);
  border: none;
}

.checkbox-classic:checked + label::after {
  content: "";
  left: 3px;
  position: absolute;
  width: 10px;
  height: 6px;
  transform: rotate(-45deg);
  border-bottom: 2px solid var(--White);
  border-left: 2px solid var(--White);
  transition: all 0.3s;
}

.checkbox-classic:checked + label {
  text-decoration: line-through;
}

.wrapper.dark .checkbox-classic:checked + label {
  text-decoration: line-through;

  color: var(--Medium-grey);
}