/* --------BUTTONS---------------------------------------------------------------------- */
.general-btn {
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  border-radius: 24px;
  padding: 15px 24px 15px 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-btn.add {
  color: var(--White);
  background-color: var(--Main-purple);
}

.general-btn.add:hover {
  background-color: var(--Main-purple-hover);
}

.general-btn.add.disabled {
  mix-blend-mode: normal;
  opacity: 0.25;
  cursor: auto;
}

.general-btn.add.disabled:hover {
  background-color: var(--Main-purple);
  mix-blend-mode: normal;
  opacity: 0.25;
  cursor: auto;
}

@media (max-width: 470px) {
  .general-btn.add.hideable {
    display: none;
  }
}

.general-btn.add.disabled.mobile {
  height: 32px;
  width: 48px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

@media (max-width: 470px) {
  .general-btn.add.disabled.mobile {
    display: flex;
  }
}

.general-btn.add.mobile {
  height: 32px;
  width: 48px;
  color: var(--White);
  background-color: var(--Main-purple);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

@media (max-width: 470px) {
  .general-btn.add.mobile {
    display: flex;
  }
}

.general-btn.cross {
  background: url("./../../img/cross.svg") center no-repeat;
  width: 15px;
  height: 15px;
}

.general-btn.cross:hover {
  background: url("./../../img/cross_hover.svg") center no-repeat;
  width: 15px;
  height: 15px;
}

.general-btn.wide {
  width: 100%;
  height: 40px;
}

.general-btn.sub {
  mix-blend-mode: normal;
  background-color: rgba(99, 95, 199, 0.1);
  color: var(--Main-purple);
}

.general-btn.sub:hover {
  cursor: pointer;
  background-color: rgba(99, 95, 199, 0.1);
  color: var(--Main-purple-hover);
}

.wrapper.dark .general-btn.sub {
  background-color: var(--White);
  opacity: 1;
  color: var(--Main-purple);
}

.general-btn.delete {
  width: 100%;
  height: 40px;
  background-color: var(--Red);
  color: var(--White);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}

.general-btn.delete:hover {
  background-color: var(--Red-hover);
}

.general-btn.cancel {
  width: 100%;
  height: 40px;
  background: rgba(99, 95, 199, 0.1);
  color: var(--Main-purple);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}

.general-btn.cancel:hover {
  background: rgba(99, 95, 199, 0.25);
}

.wrapper.dark .general-btn.cancel {
  background-color: var(--White);
}
