/* --------MAIN-HEADER---------------------------------------------------------------------- */

.main-block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid var(--Lines-light);
}

.wrapper.dark .main-block-header {
  background-color: var(--Dark-grey);
  border-bottom: 2px solid var(--Lines-dark);
}

.wrapper.dark .head-text-logo {
  background: url("./../../img/kanban_logo_dark.svg") center no-repeat;
}

.sidebar-head {
  margin-right: 32px;
}

.head-logo {
}
.head-text-logo {
}
.board-name-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--White);
  height: 100%;
  width: 100%;
}

.wrapper.dark .board-name-header {
  background-color: var(--Dark-grey);
}

.wrapper.dark .board-name {
  color: var(--White);
}

.board-name-header.show-border {
  border-left: 2px solid var(--Lines-light);
}

.wrapper.dark .show-border {
  border-left: 2px solid var(--Lines-dark);
}

.board-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board-name {
  margin-left: 32px;
  flex-grow: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--Black);
}

@media (max-width: 970px) {
  .board-name {
    font-size: 20px;
  }
}

@media (max-width: 660px) {
  .board-name {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .board-name {
    font-size: 18px;
  }
}

/* --------LOGO-FOR-MOBILE---------------------------------------------------------------------- */

.board-name-logo {
  background: url("./../../img/logo.svg") center no-repeat;
  width: 24px;
  height: 26px;
  margin-left: 10px;
  display: none;
}

@media (max-width: 660px) {
  .board-name-logo {
    display: block;
  }
}

/* --------ARROW-FOR-MOBILE---------------------------------------------------------------------- */
.board-name-arrow {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  display: none;
}

@media (max-width: 660px) {
  .board-name-arrow {
    display: flex;
  }
}

.board-name-arrow::before {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: solid 3px var(--Main-purple);
  border-right: solid 3px var(--Main-purple);
  transform: rotate(45deg);
  cursor: pointer;
}

.board-name-arrow.active::before {
  transform: rotate(-135deg);
  position: absolute;
  top: 48px;
}

.board-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  gap: 24px;
  margin-right: 24px;
}

@media (max-width: 360px) {
  .board-menu-wrapper {
    gap: 10px;
    margin-right: 10px;
  }
}
