/* --------wrapper---------------------------------------------------------------------- */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

/* --------MAIN-BLOCK---------------------------------------------------------------------- */

.main-block-wrapper {
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .main-block-wrapper {
    width: calc(100vw - 260px);
  }
}

@media (max-width: 840px) {
  .main-block-wrapper {
    width: 100vw;
  }
}

.sidebar-wrapper.hide + .main-block-wrapper {
  width: 100vw;
}
