.new-column-wrapper {
  min-width: 210px;
  height: 100%;
}

.column-dot-not {
  width: 15px;
  height: 15px;
}

.new-column-body {
  background: linear-gradient(180deg, #e9effa 0%, rgba(233, 239, 250, 0.5) 100%);
  border-radius: 6px;
  height: 95%;
  display: flex;
}

.wrapper.dark .new-column-body {
  background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
}

.new-column-text {
  margin: auto;
  color: var(--Medium-grey);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.new-column-text:hover {
  color: var(--Main-purple);
}
