.inner-modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--Medium-grey);
  margin-bottom: 10px;
}

.wrapper.dark .inner-modal-title {
  color: var(--White);
}
